@import "home";
@import "index";

body {
  background-color: white;
}

.card-trip {
  object-position: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 1300px;
  height: 500px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.add {
  margin-left: 195px;
  margin-top: 30px;
  color: whitesmoke;
  border-radius: 50px;
  background-color: #E45858;
  text-align: center;
  height: 40px;
  width: 200px;
  padding-top: 8px;

}

.info p {
  padding-left: 10px;
}

.info a {
  padding-left: 310px;
  color: black;

}

.castle {
  border-radius: 10px;
  background-color: #F9F4EF;
  padding-bottom: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.castle h1 {
  text-align: center;
}

.castle p {
  text-align: justify;
}

.choice {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding-left: 135px;
}
