@import "home";
@import "index";

body {
  background-color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap
}

.add {
  margin-left: 195px;
  margin-top: 30px;
  color: whitesmoke;
  border-radius: 50px;
  background-color: #E45858;
  text-align: center;
  height: 40px;
  width: 200px;
  padding-top: 8px;

}

.info p {
  padding-left: 10px;
}

.info a {
  padding-left: 310px;
  color: black;

}

.castle {
  border-radius: 10px;
  background-color: #F9F4EF;
  padding-bottom: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.castle h1 {
  text-align: center;
}

.castle p {
  text-align: justify;
}
