<h1>Your reservation(s)</h1>
<p>We will welcome you to :</p>
<ol>
    <% @bookings.each do |booking| %>
    <li><%= booking.castle.name %> from <%= booking.start_date %> to <%= booking.end_date %>
    <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: 'backlink' %></li>
    <% end %>

</ol>