<br>
<br>
<div class="container castle">
  <div class="container">
    <h1><%= @castle.name %></h1>
  </div>
  <div class="container">
    <p><%= @castle.description %></p>
  </div>

  <div class="back">  
    <%= link_to 'book', new_castle_booking_path(@castle), class:'backlink'  %>
  </div>
